<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="jquery-3.3.1.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="login.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
      integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
      crossorigin="anonymous"
    />
    <title>Login</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a href="/">
          <img
            alt="Bitcoin logo"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Bitcoin_logo.svg/256px-Bitcoin_logo.svg.png"
          />
        </a>
      </div>
      <div class="centre">
        <div class="search">
          <input type="text" name="search" placeholder="Search..." />
        </div>
      </div>
      <div class="signIn">
        <button class="signInButton" type="button"><span>Sign Up</span></button>
      </div>
    </nav>
    <main>
      <section id="loginSection">
        <div class="loginBody"><div class="postsHeader">Log in</div></div>
        <div class="loginFooter"></div>
      </section>
    </main>
  </body>
</html>
